.circlesHeader {
    background-size: cover !important;
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 500px;
    max-height: 60%;
    .lead,
    h2 {
      text-shadow: none;
    }
}
