.mapBar {
    position: absolute;
    bottom: 20px;
    left: 10vw;
    max-width: 80vw;
    max-height: 50px;
    z-index: 3;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
}