.mapBar {
    position: absolute;
    bottom: 10px;
    left: 10vw;
    max-width: 80vw;
    height: 60px;
    padding: 10px !important;
    z-index: 3;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.filterButton {
    margin-right: 5px;
    margin-left: 5px;
}