
.header {
    display: flex;
    width: 100vw;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
}

.navLink {
    height: 60px !important;
    border-radius: 0 !important;
    margin: 0 !important;
}